<% if @success.present? %>
  <div class="alert alert-success alert-dismissable">
    <%= @success %>
  </div>
<% end %>
<% xp_percent = @workouts.xp*100/@workouts.next_level.xp_required %>
<div class="progress">
  <div class="progress-bar" role="progressbar" aria-valuenow="<%=xp_percent%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=xp_percent%>%; min-width: 2em;">
    <%= "#{xp_percent.round}%" %>
  </div>
</div>
<div><h4>Level: <%= @workouts.level.number %></h4></div>
<div><h4>XP: <%= @workouts.xp %>/<%= @workouts.next_level.xp_required %></h4></div>

<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
  <% @workouts.each do |workout| %>
    <div class="panel panel-default">
      <div class="panel-heading" role="tab" id="heading_<%= workout.id %>">
        <h4 class="panel-title">
          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse_<%= workout.id %>" aria-expanded="false" aria-controls="collapse_<%= workout.id %>">
            <%= workout.date %> Workout (<%= workout.duration %> minutes)
          </a>
        </h4>
      </div>
      <div id="collapse_<%= workout.id %>" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading_<%= workout.id %>">
        <div class="panel-body">
          <% if workout.strength_exercises.exists? %>
            <h4>Strength</h4>
            <% workout.strength_exercises.each do |exercise| %>
              <%= exercise.to_s %><br>
            <% end %>
          <% end %>
          <% if workout.cardio_exercises.exists? %>
            <h4>Cardio</h4>
            <% workout.cardio_exercises.each do |exercise| %>
              <%= exercise.to_s %><br>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</table>
