<h1>Rebel Workout Plan</h1>
<%= form_for @workout do |f| %>
  <%= f.label :workout_date %>
  <%= f.date_field :date %>
  <h3>Cardio:</h3>
  <% @workout.cardio_exercises.each do |cardio| %>
    <%= f.fields_for cardio do |cardio_form| %>
      <%= cardio_form.label :exercise %>
      <%= cardio_form.text_field :exercise %>
      <%= cardio_form.label :minutes %>
      <%= cardio_form.number_field :minutes %>
    <% end %>
    <br>
  <% end %>
  <h3>Strength:</h3>
  <% @workout.strength_exercises.each do |strength| %>
    <%= f.fields_for strength do |strength_form| %>
      <%= strength_form.label :exercise %>
      <%= strength_form.text_field :exercise %>
      <br>
      <% strength.sets.each do |set| %>
        <%= strength_form.fields_for set do |set_form| %>
          <%= set_form.label :weight %>
          <%= set_form.text_field :weight %>
          <%= set_form.label :reps %>
          <%= set_form.number_field :reps %>
        <% end %>
        <br>
      <% end %>
    <% end %>
    <br>
  <% end %>
  <%= f.submit("Submit workout") %>
<% end %>
