<h1>Rebel Workout Plan</h1>
<%= semantic_form_for @workout do |f| %>
  <%= f.inputs do %>
    <%= f.input :date %>
    <%= f.input :duration %>
    <div id='cardio_exercises'>
      <%= f.semantic_fields_for :cardio_exercises do |cardio_exercise| %>
        <%= render 'cardio_exercise_fields', f: cardio_exercise %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add cardio exercise', f, :cardio_exercises %>
      </div>
    </div>
    <div id='strength_exercises'>
      <%= f.semantic_fields_for :strength_exercises do |strength_exercise| %>
        <%= render 'strength_exercise_fields', f: strength_exercise %>
      <% end %>
      <div class='links'>
        <%= link_to_add_association 'add strength exercise', f, :strength_exercises %>
      </div>
    </div>
  <% end %>
  <%= f.actions do %>
    <%= f.action :submit %>
  <% end %>
<% end %>
